
$font-1: var(--font-figtree), sans-serif;
$font-2: var(--font-outfit), sans-serif;
$font-3: var(--font-inter), sans-serif;

$color-1: #FFFFFF;
$color-2: #24272C;
$color-3: #405FF2;
$color-4: #696665;
$color-5: #B6B6B6;
$color-6: #EDEDED;
$color-7: #5C6368;
$color-8: #E4E4E4;
$color-9: #7ED321;
$color-10: #F26740;
$color-11: #6E55FF;
$color-12: rgba(255, 255, 255, 0.5);
$color-13: rgba(255, 255, 255, 0.1);
$color-14: rgba(36, 39, 44, 0.1);
$color-15: rgba(255, 255, 255, 0.3);
$color-16:#E9EDFB;
$color-17:#111215;

$bg-color: #F5F7FE;
$bg-color2: #F2F2F2;
$bg-color3: rgba(255, 113, 1, 0.1);
$bg-color4: rgba(255, 113, 1, 0.06);
$bg-color5: rgba(0, 0, 0, 0.4);
$bg-color6: rgba(126, 211, 33, 0.1);
$bg-color7: rgba(110, 85, 255, 0.1);
$bg-color8: #07060C;
$bg-color9: #000000;
$bg-color10: rgba(0, 0, 0, 0.2);





